<div class="container-fluid">
    <div class="row text-center">
        <div class="mx-auto my-5 py-5">
        <p class="text-monospace">Follow me on </p>
        <div class="d-flex">
        <a href="#" class="mx-2 signinsocial" role="button"><i class="fa fa-facebook"></i></a>
        <a href="#" class="mx-2 signinsocial" role="button"><i class="fa fa-twitter"></i></a>
        <a href="#" class="mx-2 signinsocial" role="button"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="mx-2 signinsocial" role="button"> <i class="fa fa-instagram"></i></a>
        <a href="https://github.com/ayeshaazhari" class="mx-2 signinsocial" role="button"><i class="fa fa-github"></i></a>
        <a href="https://codepen.io/Razviya" class="mx-2 signinsocial" role="button"> <i class="fa fa-codepen"></i></a>
        </div>
        <div>
        <p class="my-2">&copy; 2019 @ayesha razviya</p>
        </div>
    </div>
    </div>
</div>