
<div class="container my-4" >
  <app-addnewtask></app-addnewtask>

  <div class="items my-5">
      <button type="button" class="btn bg-warning" (click)="tblview()"><i class="fa fa-filter"></i></button>
      <button type="button" class="btn bg-warning" (click)="tblview()"><i class="fa fa-sort"></i></button>

    <div class="toggleview text-right m-2">
      
        <!-- <mat-form-field>
            <mat-label>Filter By</mat-label>
            <mat-select  (selectionChange)="onChange($event)" >
              <mat-option *ngFor="let filter of filterarray" [value]="filter">
                {{filter}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field>
              <mat-label>Filter By</mat-label>
              <mat-select [formControl]="filtertag" multiple (selectionChange)="onChange($event)">
                <div  class="otpgroup bg-warning" >Category</div>
                <mat-option *ngFor="let category of categoryarray" [value]="'category' + category">{{category}}</mat-option>
                <div class="otpgroup bg-warning" >Priority </div>
                <mat-option *ngFor="let priority of priorityarray" [value]="'priority'+ priority">{{priority}}</mat-option>
                <div  class="otpgroup bg-warning" >Status</div>
                <mat-option *ngFor="let status of statusarray" [value]="'status' + status">{{status}}</mat-option>
              </mat-select>
            </mat-form-field>



        <button type="button" class="btn bg-danger text-white" (click)="tblview(itemdiv ,chngicon)" #toggleview><i class="lni-list text-bold" #chngicon></i></button>
    </div>

    <div class="masonry" #itemdiv>
      <div class="item" *ngFor = "let item of resultData ">
        <div class="card p-2" #editvalues >
          <div (click)="openDialog(item)">
            <div class="card-header">
              <h3>{{ item.title}}</h3>
              <span class=" badge badge-secondary d-block w-25 text-center"> {{item.category}}</span>
            </div>

            <div class="card-body">
              {{ item.description }}
            </div>
          </div>

          <div class="hoverbuttons d-flex card-footer">
            <div class="completedstatus mr-auto" *ngIf="item.status=='Completed'; then successtemplate else warningtemplate"></div>
            <ng-template #successtemplate>
              <span class="badge badge-success align-bottom text-small d-block">{{ item.status}}</span>
              <span class="m-2 text-small d-block"> Started on: {{ item.strtdate }} </span>
            </ng-template>
            <ng-template #warningtemplate>
              <span class="badge badge-danger text-small d-block">{{ item.status }}</span>
              <span class="m-2 text-small d-block" > Due Date:<mark class="border-round">{{item.enddate }}}</mark> </span>
              </ng-template>
              <div class="ficons ml-auto">
                <i type=""  *ngIf="item.status=='Completed';" class="lni-share text-danger mx-1"></i>
                <i type=""  (click)="chngcolor(editvalues)" class="lni-color-pallet text-danger mx-1"></i>
                <i type=""  (click)="fbdeleteItem(item)"  class="lni-trash text-danger mx-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>







