<mat-toolbar>

  <mat-toolbar-row>
    <!-- <span>Third Line</span> -->
    <a class="navbar-brand" href="#"><img src="../../assets/logo1.png" class="logo img-fluid text-white">TodoApp</a>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" matBadge="15" matBadgeColor="warn" matBadgeOverlap="false"  matBadgePosition="after" aria-hidden="false" aria-label="Example heart icon">notifications_none</mat-icon>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
   <span class="example-icon"></span>
    <img class="example-icon" [src]="photoURL" class="profilepic" [matMenuTriggerFor]="menu">

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard" *ngIf="isdashboard == 'false'"><mat-icon>account_circle</mat-icon>Profile</button>
      <button mat-menu-item routerLink="/todolistapp" *ngIf="ishomepage=='false'"><mat-icon>home</mat-icon>Home</button>
      <button mat-menu-item href="#"><mat-icon>settings_applications</mat-icon>Settings </button>
      <button mat-menu-item (click)="logout()"><mat-icon>power_settings_new</mat-icon>Log out</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<!-- 
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">TodoApp</a>
    <a class="navbar-brand" href="#"><img src="../../assets/logo1.png" class="logo img-fluid">TodoApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>

      <ul class="navbar-nav text-white mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-bell text-white">
              <span class="badge badge-success">11</span>
            </i>
          </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-envelope-o">
                <span class="badge badge-primary">11</span>
              </i>
              Dropdown 
              <i class="fa fa-user profile" ></i>
              <img [src]="photoURL" class="profilepic">
            </a>
      
            <div class="dropdown-menu profiledropdown" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/dashboard" *ngIf="isdashboard == 'false'">Profile</a>
              <a class="dropdown-item" routerLink="/todolistapp" *ngIf="ishomepage=='false'">Go to home page</a>
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" (click)="logout()">Log out</a>
            </div>
          </li>
      </ul>
    </div>
  </nav> -->