<div class="container mx-auto my-y">
<!-- Default form login -->
<form class="text-center border border-light my-5 w-50 mx-auto" action="#!" #f=ngForm (ngSubmit)="submit(f)" >

    <p class="h4 mb-5 signheader" >Sign in</p>

    <!-- Email -->
    <mat-form-field class="mx-auto w-75 d-block">
        <input matInput placeholder="Email" 
        type="text" ngModel
        name="firstName" #firstName="ngModel"
         >
    </mat-form-field>
    <!-- Password -->
    <mat-form-field class="mx-auto w-75 d-block">
        <input matInput placeholder="Password" 
        type="text" ngModel
        name="password" #password="ngModel"
         >
    </mat-form-field>
    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <!-- <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember"> -->
                <!-- <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label> -->
                <mat-checkbox>Remember me</mat-checkbox>

            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <button mat-button color="accent">Forget Password?</button>
        </div>
    </div>

    <!-- Sign in button -->
    <button type="submit" mat-stroked-button color="accent" class="mt-5 border-rounded w-75 d-block mx-auto p-2 text-bold signinbtn">Sign In</button>

    <!-- Register -->
    <p>Not a member ?
        <button mat-button color="accent">Register</button>
    </p>

    <div class="sociallogindiv my-5">
    <!-- Social login -->
    <p>or sign in with:</p>

    <a href="#" class="mx-2 signinsocial" role="button" (click)="loginGoogle()"><i class="fa fa-google-plus "></i></a>
    <a href="#" class="mx-2 signinsocial" role="button"><i class="fa fa-facebook-f "></i></a>
    <a href="#" class="mx-2 signinsocial" role="button"><i class="fa fa-twitter "></i></a>
    <a href="#" class="mx-2 signinsocial" role="button"><i class="fa fa-github"></i></a>
    </div>

</form>
<!-- Default form login -->
</div>