<div class="container my-4" (click)="remvform(extrafield, $event)" >
<form [formGroup]="myform" class="form1"  (submit)="addtask(myform.value,f);showToaster('Added Successfully')"  (focusin)="showform(extrafield,title)"  #f="ngForm">
<!--     
  <p *ngFor ="let cat of catlist">
    {{cat}}
  </p> -->
  <!-- Title -->
    <div class="form-group w-75 mx-auto mt-4">
        <mat-form-field class="mx-auto w-100 d-block">
            <input matInput placeholder="New Task" formControlName="title"
             id="title" 
             type="text" 
             class="form-control" 
             #title
             >
        </mat-form-field>
        <div *ngIf="title.touched && title.invalid" class="alert alert-danger p-1">
            <div *ngIf="title.errors.required">
                Title can't be empty
            </div>
        </div>
    </div>

    <div class="extrafield" #extrafield>
      <!-- category  & priority -->
        <div class="form-group mx-auto w-75">
          <span class="w-50 text-center">
            <mat-form-field>
              <mat-label for="category" class=required.field>Category</mat-label>
              <mat-select formControlName="category"
                id="category"
              >
                <mat-option *ngFor="let category of categoryarray" [value]="category">
                  {{category}}
                </mat-option>
                <div id="newcatboxdiv" #newcatboxdiv class="m-1">
               <input matInput placeholder="Add new Category" [(ngModel)]="newcategory" #newcatbox   [ngModelOptions]="{standalone: true}" class="w-75">
                <button (click)="addnewcatagory(newcatbox,newcatboxdiv)" class="btn btn-outline-danger">Add</button> 
               </div>
                <button mat-raised-button (click)="addcatagory(newcatboxdiv)" #showcategory class="w-100 themeBgColor text-white">Add New Category</button>
              </mat-select>
              <mat-error *ngIf="category.touched && category.invalid" class="alert alert-danger p-1">
                <div *ngIf="category.errors.required">
                    Select a category
                </div>
              </mat-error>
            </mat-form-field>
          </span>

       
            <span class="w-50 text-center">
              <mat-form-field>
                <mat-label for="priority" class=required.field>Priority</mat-label>
                <mat-select formControlName="priority"
                  id="priority"
                >
                  <mat-option *ngFor="let priority of priorityarray" [value]="priority">
                    {{priority}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="priority.touched && priority.invalid" class="alert alert-danger p-1">
                  <div *ngIf="priority.errors.required">
                      Select a priority
                  </div>
                  </mat-error>
              </mat-form-field>
            </span>
        </div>

        <!-- {{catlist}} -->

     
    
        <!-- desciption  -->
        <div class="form-group  w-75 mx-auto">
          <mat-form-field class="mx-auto w-75 d-block">
          <textarea matInput  class="mx-auto  d-block form-control" 
          placeholder="Description" 
          formControlName="description" 
          id="description" 
          type="text"> 
          </textarea>
          <mat-error *ngIf="description.touched && description.invalid" class="alert alert-danger p-1">
            <div *ngIf="description.errors.required">
                Wite some Description
            </div>
            </mat-error>
         </mat-form-field>
        </div>

        <!-- Startdate enddate status -->
        <div class="form-group w-75 mx-auto text-center">
            <span class="m-2">
              <div class="control-section">
                <div id="control_wrapper">
                    <ejs-datepicker class="w-75 form-control" placeholder="Start Date (DD-MM-YYYY)" formControlName="strtdate" id="strtdate"></ejs-datepicker>
                </div>
              </div>
             </span>
            <span class="m-2">
              <div class="control-section">
                <div id="control_wrapper">
                  <ejs-datepicker class="w-75 form-control" placeholder="Due Date(DD-MM-YYYY)" formControlName="enddate" id="enddate"></ejs-datepicker>
                </div>
              </div>
            </span>
            <span class="m-2">
              <mat-form-field class="w-75 my-2">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="status" id="status" class="form-control">
                    <mat-option *ngFor="let status of statusarray" [value]="status">
                      {{status}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
        </div>

        <div class="form-group w-75 mx-auto">
          <button type="submit"  mat-raised-button color="primary"
          id="additembtn"
          class="form-control"
          [disabled]="!myform.valid"
          >
            Add task
          </button>
        </div>
    </div>
</form>

</div>

