<div class="container my-4" (click)="remvform(extrafield, $event)" >
<form [formGroup]="myform" class="form1" (ngSubmit)="addtask(myform.value)"  (focusin)="showform(extrafield,title1)" >
    
  <!-- Title -->
    <div class="form-group w-75 mx-auto mt-4">
        <mat-form-field class="mx-auto w-100 d-block">
            <input matInput placeholder="New Task" formControlName="title1"
             id="title" 
             type="text" 
             class="form-control" 
             #title1>
        </mat-form-field>
        <div *ngIf="title1.touched && title1.invalid" class="alert alert-danger p-1">
            <div *ngIf="title1.errors.required">
                Title can't be empty
            </div>
        </div>
    </div>

    <div class="extrafield" #extrafield>
      <!-- category  & priority -->
        <div class="form-group mx-auto w-75">
            <span class="w-50 text-center">
              <mat-form-field>
                <mat-label for="category" class=required.field>Category</mat-label>
                <mat-select formControlName="category1"
                  id="category1"
                  class="form-control"
                >
                  <mat-option *ngFor="let category of categoryarray" [value]="category">
                    {{category}}
                  </mat-option>
                </mat-select>
                <div *ngIf="category1.touched && category1.invalid" class="alert alert-danger p-1">
                  <div *ngIf="category.errors.required">
                      Select a Category
                  </div>
                </div>
              </mat-form-field>
            </span>

            <span class="w-50 text-center">
              <mat-form-field>
                <mat-label for="priority" class=required.field>Priority</mat-label>
                <mat-select formControlName="priority1"
                  id="priority1"
                  class="form-control"
                >
                  <mat-option *ngFor="let priority of priorityarray" [value]="priority">
                    {{priority}}
                  </mat-option>
                </mat-select>
                <div *ngIf="priority1.touched && priority1.invalid" class="alert alert-danger p-1">
                  <div *ngIf="priority.errors.required">
                      Select a priority
                  </div>
              </div>
              </mat-form-field>
            </span>
        </div>

        <!-- desciption  -->
        <div class="form-group  w-75 mx-auto">
          <mat-form-field class="mx-auto w-75 d-block">
          <textarea matInput  class="mx-auto  d-block form-control" 
          placeholder="Description" 
          formControlName="description" 
          id="description" 
          type="text"> 
          </textarea>
         </mat-form-field>
          
          <div *ngIf="description.touched && description.invalid" class="alert alert-danger p-1 w-75 mx-auto">
              <div *ngIf="description.errors.required">
                  Write Some description about the project.
              </div>
          </div>
        </div>

        <!-- Startdate enddate status -->
        <div class="form-group w-75 mx-auto text-center">
            <span class="m-2">
              <div class="control-section">
                <div id="control_wrapper">
                    <ejs-datepicker class="w-75 form-control" placeholder="Start Date (DD-MM-YYYY)" formControlName="strtdate" id="strtdate"></ejs-datepicker>
                </div>
              </div>
             </span>
            <span class="m-2">
              <div class="control-section">
                <div id="control_wrapper">
                  <ejs-datepicker class="w-75 form-control" placeholder="Due Date(DD-MM-YYYY)" formControlName="enddate" id="enddate"></ejs-datepicker>
                </div>
              </div>
            </span>
            <span class="m-2">
              <mat-form-field class="w-75 my-2">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="status" id="status" class="form-control">
                    <mat-option *ngFor="let status of statusarray" [value]="status">
                      {{status}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
        </div>

        <div class="form-group w-75 mx-auto">
          <button type="submit"  mat-raised-button color="primary"
          id="additembtn"
          class="form-control"
          >
            Add task
          </button>
        </div>
    </div>
</form>

</div>

