.extrafield {
    display: none;
}

.form1 {
    box-shadow: 0 0 8px rgb(179, 175, 175,0.5);
    width: 75%;
    margin:0 auto;
    padding: 10px;
    border-radius: 8px;
}

.form-control {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
}

.form-group {
    margin: 10px;
}


